
.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("img/consejos/FONDO.png");
    background-size: cover;
    padding-bottom: 3vw;
}

.title {
    width: 25%;
    margin: 2vw 0;
}

.frase-top {
    font-size: 2vw;
    font-family: Raleway-Medium;
    color: #4E3881;
    width: 60%;
    text-align: center;
}

iframe {
    width: 79.43vw;
    height: 44.68vw;
    margin-bottom: 5vw;
}

.button1, .button2 {
    color: white;
    font-size: 2vw;
    padding: 0.3vw 1vw;
    cursor: pointer;
    border-radius: 3vw;
    border: 0;
    margin-bottom: 2vw;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Raleway-Bold;
    background-color: #4E3881;
    -webkit-box-shadow: 0px 0px 21px 2px rgba(0,0,0,0.07);
    -moz-box-shadow: 0px 0px 21px 2px rgba(0,0,0,0.07);
    box-shadow: 0px 0px 21px 2px rgba(0,0,0,0.07);
}

.button1:hover, .button2:hover {
    background-color:#b9afcc;
}

.button1 {
    width: 30%;
}

.button2 {
    width: 30%;
    margin: 3.5vw 0;
}

.button1 img {
    width: 15%;
    margin-right: 1vw;
}

.button2 img {
    width: 15%;
    margin-right: 1vw;
}