footer {
    color: white;
    padding: 5vw 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #4E3881;
    font-family: Raleway-Bold;
}

footer p {
    font-size: 1.5vw;
    margin-bottom: 15px;
}

footer ul li{
    display: flex;
    justify-content: center;
}
.icon-footer {
    width: 5.7vw;
    margin: 1.4vw 1.2vw 0px 1.2vw;
}

@media screen and (max-width: 700px) {

    footer p {
        font-size: 2.2vw;
        margin-bottom: 10px;
    }
    
    .icon-footer {
        width: 8vw;
    }

}