
.title {
    font-family: Homeday;
    color: #4E3881;
    font-size: 3vw;
    margin: 2vw 0;
}

.seccion1 .top {
    width: 58%;
}

.seccion1 .content {
    color: #4E3881;
    font-family: Raleway-Medium;
    font-size: 1.5vw;
}

.seccion1 .frase {
    color: #4E3881;
    font-family: Raleway-Bold;
    font-size: 1.5vw;
}

.seccion1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.seccion1 .div-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1vw 0 3vw 0;
}

.seccion1 .div-links div {
    display: flex;
}

.seccion1 .div-links img {
    width: 12vw;
    margin: 6.5vw 4vw 0 4vw;
    border-radius: 14%;
    transition: transform .25s ease-out;
    -webkit-box-shadow: 0px 0px 13px 2px rgba(0,0,0,0.16);
    -moz-box-shadow: 0px 0px 13px 2px rgba(0,0,0,0.16);
    box-shadow: 0px 0px 13px 2px rgba(0,0,0,0.16);
}

.seccion1 .div-links img:hover {
    transform:scale(1.02);
}

.seccion1 .div-links a:active img {
    transform:scale(0.95);
}

.seccion2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 9vw;
    background-image: url("img/frases_de_luz/FONDO-FRASES-LUZ.png");
    background-size: cover;
    -webkit-box-shadow: 0px 0px 13px 1px rgba(0,0,0,0.23);
    -moz-box-shadow: 0px 0px 13px 1px rgba(0,0,0,0.23);
    box-shadow: 0px 0px 13px 1px rgba(0,0,0,0.23);
}

.galery-container {
    width: 95%;
    margin-top: 4vw;
    padding-bottom: 30px;
    background-color: #ffffff87;
    display: flex;
    flex-direction: column;
    align-items: center;
    -webkit-box-shadow: 0px 0px 29px 10px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 0px 29px 10px rgba(0,0,0,0.1);
    box-shadow: 0px 0px 29px 10px rgba(0,0,0,0.1);
}

.galery-container .galery-img {
    width: 22%;
    margin-bottom: 20px;
}

.slider-container {
    width: 100%;
}



div .iis-previous-nav {
    width: 6vw;
    height: 6vw;
    left: 0px;
    background-size: 100%;
    background-color: transparent;
    background-image: url("img/frases_de_luz/ICONO-BOTON--FLECHA-IZQUIERDA_Mesa-de-trabajo-1-copia-8.png");
}

div .iis-next-nav {
    width: 6vw;
    height: 6vw;
    right: 0px;
    background-size: 100%;
    background-color: transparent;
    background-image: url("img/frases_de_luz/ICONO\ BOTON\ -FLECHA_Mesa\ de\ trabajo\ 1\ copia\ 8\ copy\ 3.svg");
}

@media screen and (max-width: 700px) {

    .title {
        font-size: 5vw;
    }

    .seccion1 .content {
        font-size: 2.5vw;
    }

    .seccion1 .frase {
        font-size: 2.5vw;
    }

    .seccion1 .top {
        width: 60%;
    }

    .seccion1 .div-links img {
        width: 16vw;
    }

}