
@font-face {
    font-family: 'Raleway-Bold';
    src: url('./fonts/Raleway-Bold.ttf');
}

@font-face {
    font-family: 'Raleway-Medium';
    src: url('./fonts/Raleway-Medium.ttf');
}

@font-face {
    font-family: 'Berton-Roman-trial';
    src: url('./fonts/Berton-Roman-trial.ttf');
}

@font-face {
    font-family: 'Equable';
    src: url('./fonts/Equable.otf');
}

@font-face {
    font-family: 'Homeday';
    src: url('./fonts/Homeday.ttf');
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a {
    color: black;
    text-decoration: none;
}

.logo {
    width: 42%;
    margin-bottom: 25px;
}

.icon-header {
    width: 100%;
}

#instagram-header:hover, #instagram-footer:hover {
    content: url("img/header/BOTON-LILA-INSTAGRAM_Mesa\ de\ trabajo\ 1\ copia\ 11.svg");
}

#facebook-header:hover, #facebook-footer:hover {
    content: url("img/header/BOTON-LILA-FACEBOOK_Mesa\ de\ trabajo\ 1\ copia\ 10.svg");
}

#twitter-header:hover, #twitter-footer:hover {
    content: url("img/header/BOTON-LILA-TWITTER_Mesa\ de\ trabajo\ 1\ copia\ 9.svg");
}

#youtube-header:hover, #youtube-footer:hover {
    content: url("img/header/BOTON-LILA-YOUTUBE_Mesa\ de\ trabajo\ 1\ copia\ 8.svg");
}

header {
    position: relative;
    margin-bottom: 20px;
    -webkit-box-shadow: -12px 0px 26px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: -12px 0px 26px 0px rgba(0,0,0,0.25);
    box-shadow: -12px 0px 26px 0px rgba(0,0,0,0.25);
}

.header-main-section {
    display: flex;
    padding: 40px 50px;
    justify-content: center;
}

.header-left {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-social-menu {
    width: 18%;
    position: absolute;
    top: 40px;
    right: 40px;
    display: flex;
    justify-content: space-around;
}

.header-social-menu li{
    width: 25%;
    margin: 0 0.6vw;
}

.header-img {
    width: 100%;
}

.main-menu a:hover {
    color: #b5acc9;
}

.main-nav {
    width: 80%;
    font-size: 1.3vw;
}

.main-nav ul {
    display: flex;
    justify-content: space-around;
}

.main-nav ul li a{
    color: #4E3881;
    font-family: Raleway-Medium;
}

.main-nav ul li a.current-page {
    color: #b5acc9;
}

@media screen and (max-width: 1150px) {

    .header-main-section {
        display: flex;
        padding: 40px 50px;
        flex-direction: column;
        align-items: center;
    }

    .header-social-menu {
        width: 20%;
    }

    .logo {
        width: 60%;
        margin-bottom: 25px;
    }

    .main-nav {
        width: 95%;
        font-size: 1.7vw;
    }

}

@media screen and (max-width: 700px) {

    .logo {
        width: 300px;
    }

    .main-nav {
        width: 100%;
        font-size: 2.3vw;
    }

    header {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .header-main-section {
        width: 80%;
        padding: 10px 0px 40px 0px;
    }
    
    .header-social-menu {
        margin-top: 10px;
        width: 210px;
        position: static;
    }

    .header-left {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

}