header {
    margin-bottom: 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("./img/instrucciones_amazon/FONDO-min.png");
    background-size: cover;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 62%;
}

.content h1 {
    color: #4E3881;
    font-family: Homeday;
    font-weight: normal;
    text-align: center;
    font-size: 4.5vw;
    line-height: 5.5vw;
    margin: 4vw 0;
}

.content .main-p {
    line-height: 2vw;
}

.content h2 {
    color: #4E3881;
    font-family: Raleway-Bold;
    font-weight: normal;
    font-size: 2.2vw;
    margin: 4vw 0 2.5vw 0;
}

.content p {
    color: #4E3881;
    font-size: 1.5vw;
    text-align: center;
    font-family: Raleway-Medium;
    font-weight: normal;
}

.content .dots {
    font-size: 7vw;
    font-family: auto;
    line-height: 3vw;
    letter-spacing: 0.5vw;
}

.content .home-link {
    color: #4E3881;
    font-weight: bold;
}

.content .homeday {
    font-family: Homeday;
    font-size: 2vw;
    font-weight: normal;
}

.content .raleway-bold {
    font-family: Raleway-Bold;
    font-size: 2vw;
    font-weight: normal;
}

.paso {
    margin-top: 1vw;
}

.p-3 {
    width: 40.3vw;
}

.p-4 {
    width: 42.3vw;
}

.p-6 {
    width: 44.7vw;
}

.content .bottom-p {
    width: 52.1vw;
    margin-top: 4vw;
}

.content video {
    width: 100%;
    border: 0.5vw solid #4E3881;
    border-radius: 4.5vw;
    object-fit: cover;
    cursor: pointer;
    margin: 4vw 0;
}

.content video {
    outline:none;
}