header {
    position: static;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.top-div {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 0 4vw 0;
    -webkit-box-shadow: -12px 0px 26px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: -12px 0px 26px 0px rgba(0,0,0,0.25);
    box-shadow: -12px 0px 26px 0px rgba(0,0,0,0.25);
}

.top-div .title {
    color: #4E3881;
    font-family: Homeday;
    font-size: 5.5vw;
    font-weight: normal;
    margin: 2vw 0;
}

.top-div p {
    width: 60%;
    color: #4E3881;
    text-align: center;
    font-size: 1.6vw;
    font-family: Raleway-Bold;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 6vw;
    background-image: url("img/luceritos/FONDO-COMPLETO.png");
    background-size: cover;
}

section {
    width: 97%;
    margin-top: 4vw;
    padding: 2.5vw 4vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff87;
    -webkit-box-shadow: 0px 0px 29px 10px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 0px 29px 10px rgba(0,0,0,0.1);
    box-shadow: 0px 0px 29px 10px rgba(0,0,0,0.1);
}

section .body {
    display: flex;
}

section h2 {
    color: #4E3881;
    font-size: 1.8vw;
    font-family: Raleway-Bold;
}

section h3 {
    color: #4E3881;
    padding-left: 7vw;
    margin-bottom: 3vw;
    font-size: 2vw;
    font-family: Raleway-Bold;
}

section ul {
    width: 87.7%;
    list-style-image: url('img/luceritos/ICONO-CHECK-LIST_Mesa-de-trabajo-1-copia-8-copy.svg');
}

section li {
    color: #4E3881;
    font-size: 1.7vw;
    padding-bottom: 0.5vw;
    font-family: Raleway-Medium;
}

section .subtitle1 {
    width: 30%;
    margin: 1vw 0 1.5vw 0;
}

section .subtitle2 {
    width: 20%;
    margin: 1vw 0 2vw 0;
}

section .subtitle3 {
    width: 34%;
    margin: 1vw 0 2vw 0;
}

section .subtitle4 {
    width: 30%;
    margin: 1vw 0 2vw 0;
}

section .subtitle5 {
    width: 25%;
    margin: 1vw 0 2vw 0;
}

section .subtitle6 {
    width: 26%;
    margin: 1vw 0 2vw 0;
}

section .subtitle7 {
    width: 38%;
    margin: 1vw 0 2vw 0;
}

section .subtitle8 {
    width: 60%;
    margin: 1vw 0 2vw 0;
}

section .subtitle9 {
    width: 45%;
    margin: 1vw 0 2vw 0;
}

section .subtitle10 {
    width: 35%;
    margin: 1vw 0 1.5vw 0;
}

section .photo-container{
    width: 58%;
    display: flex;
    justify-content: center;
}

section .photo-container a {
    width: 90%;
}

section .photo {
    width: 100%;
    -webkit-box-shadow: 0px 0px 21px 2px rgba(0,0,0,0.07);
    -moz-box-shadow: 0px 0px 21px 2px rgba(0,0,0,0.07);
    box-shadow: 0px 0px 21px 2px rgba(0,0,0,0.07);
}

section .list-container {
    display: flex;
    padding-left: 5vw;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 42%;
}

.seccion10 .body{
    width: 100%;
    justify-content: center;
}

.seccion11  .subtitle11{
    width: 20%;
}

.seccion11 .button1,  .seccion11 .button2{
    color: white;
    font-size: 1.3vw;
    padding: 1vw 1.5vw;
    cursor: pointer;
    border-radius: 3vw;
    border: 0;
    margin-bottom: 2vw;
    font-family: Raleway-Bold;
    background-color: #4E3881;
    display: flex;
    justify-content: center;
    text-align: center;
    -webkit-box-shadow: 0px 0px 21px 2px rgba(0,0,0,0.07);
    -moz-box-shadow: 0px 0px 21px 2px rgba(0,0,0,0.07);
    box-shadow: 0px 0px 21px 2px rgba(0,0,0,0.07);
}

.seccion11 a:hover {
    background-color:#b9afcc;
}

.seccion11 .button1 {
    width: 25%;
}

.seccion11 .button2 {
    width: 42%;
}