html, body {
    height: 100%;
}

body {
    display: flex;
    flex-flow: column;
}

header {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    margin-bottom: 0;
}

.content {
    display: flex;
    align-items: center ;
    flex-direction: column;
    background-size: cover;
    background-image: url("img/luceritos_login/FONDO.png");
    width: 100%;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    padding-bottom: 5vw;
}

.title {
    color: #4E3881;
    font-family: Homeday;
    font-size: 5.5vw;
    font-weight: normal;
    margin: 2vw 0;
}

p {
    color: #4E3881;
    font-family: Raleway-Medium;
    width: 50%;
    font-size: 1.7vw;
    text-align: center;
}

.book-page-text {
    font-size: 2.5vw;
    font-family: Homeday;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#access-button {
    color: white;
    font-size: 1.4vw;
    padding: 0.3vw 1vw;
    padding: 0.5vw 1.5vw;
    cursor: pointer;
    border-radius: 3vw;
    border: 0;
    margin-bottom: 2vw;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Raleway-Bold;
    -webkit-box-shadow: 0px 0px 21px 2px rgba(0,0,0,0.07);
    -moz-box-shadow: 0px 0px 21px 2px rgba(0,0,0,0.07);
    box-shadow: 0px 0px 21px 2px rgba(0,0,0,0.07);
}

#access-button:disabled {
    background-color: #b9afcc;
}

#access-button:enabled {
    background-color: #4E3881;
}

.access-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input[type=text] {
    height: 3vw;
    width: 13.2vw;
    border: none;
    outline: none;
    font-size: 1.5vw;
    font-family: Raleway-Medium;
    color: #4E3881;
    text-align: center;
    border-bottom: 3px solid #4E3881;
    background: url("img/luceritos_login/lock.svg") no-repeat scroll 0.1vw 0;
    background-size: 2vw;
    padding-left: 2.2vw;
    padding-bottom: 0.1vw;
    margin: 3vw 0;
    
}

input[type=text]::placeholder {
    color: #b9afcc;
}