.page-content {
    background-image: url("img/sobre_mi/FONDO.png");
    background-size: cover;
    padding-bottom: 8vw;
}

section p {
    font-size: 1.6vw;
    color: #4E3881;
    font-family: Raleway-Medium;
    text-align: justify;
    text-justify: inter-word;
}

section {
    padding: 0 5vw;
}

.seccion1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.seccion1 .title {
    width: 20%;
    margin: 5vw 0;
}

.seccion2 {
    margin-bottom: 2vw;
}

.seccion2 h2 {
    font-size: 2.2vw;
    color: #4E3881;
    text-align: center;
    font-family: Raleway-Bold;
}

.seccion3 {
    display: flex;
    align-items: flex-start;
}

.seccion3 .photo {
    width: 35%;
}

.seccion3 div {
    display: flex;
    padding-left: 5vw;
    flex-direction: column;
    justify-content: space-evenly;
}

.bottom-space {
    margin-bottom: 2vw;
}

.seccion4 {
    display: flex;
    margin-top: -10vw;
    justify-content: space-between;
}

.seccion4 .photo {
    width: 48%;
}

.seccion4 div {
    width: 48%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.seccion5 {
    display: flex;
    margin-top: -10vw;
    justify-content: space-between;
}

.seccion5 .photo {
    width: 48%;
}

.seccion5 div {
    width: 48%;
    display: flex;
    padding-top: 8vw;
    flex-direction: column;
    justify-content: center;
}

.seccion6 {
    display: flex;
    margin-top: -2vw;
    justify-content: space-between;
}

.seccion6 .photo {
    width: 48%;
}

.seccion6 div {
    width: 48%;
    display: flex;
    padding-bottom: 8vw;
    flex-direction: column;
    justify-content: center;
}

.seccion7 {
    display: flex;
    margin-top: -10vw;
    justify-content: space-between;
}

.seccion7 .photo {
    width: 48%;
}

.seccion7 div {
    width: 48%;
    display: flex;
    padding-top: 8vw;
    flex-direction: column;
    justify-content: center;
}

.seccion8 {
    display: flex;
    margin-top: -2vw;
    justify-content: space-between;
}

.seccion8 .photo {
    width: 48%;
}

.seccion8 div {
    width: 48%;
    display: flex;
    padding-bottom: 17vw;
    flex-direction: column;
    justify-content: center;
}

.seccion9 {
    display: flex;
    margin-top: -22vw;
    justify-content: space-between;
}

.seccion9 .photo {
    width: 48%;
}

.seccion9 div {
    width: 48%;
    display: flex;
    padding-top: 25vw;
    flex-direction: column;
    justify-content: center;
}

@media screen and (max-width: 700px) {

    section p {
        font-size: 3vw;
    }
    
    .seccion1 .title {
        width: 50%;
        margin: 5vw 0;
    }
    
    .seccion2 {
        margin-bottom: 0;
    }

    .seccion2 h2 {
        font-size: 4vw;
    }

    .seccion3, .seccion4, .seccion5, .seccion6, .seccion7, .seccion8, .seccion9 {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
    }
    
    .seccion3 .photo, .seccion4 .photo, .seccion5 .photo, .seccion6 .photo, .seccion7 .photo, .seccion8 .photo, .seccion9 .photo {
        margin: 5vw 0;
        width: 70%;
    }
    
    .seccion3 div, .seccion4 div, .seccion5 div, .seccion6 div, .seccion7 div, .seccion8 div, .seccion9 div {
        display: flex;
        margin: 0;
        padding: 0;
        width: 100%;
        padding-left: 0;
        flex-direction: column;
        justify-content: space-evenly;
    }   


    .seccion4 .photo, .seccion6 .photo, .seccion8 .photo {
        order: -1;
    }
}