
.info-icon {
    width: 6.5vw;
}

.seccion2 {
    padding: 50px 150px;
    display: flex;
    justify-content: space-around;
}

.seccion2 div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.seccion2 div div {
    padding: 20px;
    margin-bottom: 40px;
    border-radius: 50%;
    background-color: #f5f2ff;
    border: 5px solid transparent;
}

.seccion2 div div:hover {
    border-color: #b5acc9;
}

.seccion2 div p {
    color: #4E3881;
    width: 16vw;
    font-size: 1.08vw;
    font-family: Raleway-Bold;
    text-align: center;
}

.seccion2 img {
    cursor: pointer;
}

.seccion3 {
    display: flex;
    padding: 5px;
    justify-content: space-evenly;
    background-color: #f5f2ff;
}

.seccion3-img {
    max-width: 42%;
}

.seccion3-content {
    width: 37%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.seccion3-content p{
    font-size: 1.7vw;
    color: #4E3881;
    font-family: Arial, Helvetica, sans-serif;
}

.seccion3-content :nth-child(2) {
    margin-top: 40px;
}

.seccion3-content .button {
    display: flex;
    justify-content: center;
    color: white;
    max-width: 55%;
    font-size: 1.5vw;
    padding: 10px;
    cursor: pointer;
    border-radius: 30px;
    font-family: Raleway-Bold;
    background-color: #4E3881;
    border: none;
}

.seccion3-content .button:hover {
    background-color:#b9afcc;
}

.bienvenidos-img {
    width: 65%;
    margin: 30px -6%;
}

.seccion4 {
    display: flex;
    justify-content: center;
}

.seccion4 img {
    width: 100%;
}

.seccion4 .iis-previous-nav {
    width: 6vw;
    height: 6vw;
    left: 1vw;
    background-size: 100%;
    background-color: transparent;
    background-image: url("img/header/BOTON-FLECHA-PREV-SECCION-4_Mesa\ de\ trabajo\ 1\ copia\ 3.svg");
}

.seccion4 .iis-next-nav {
    width: 6vw;
    height: 6vw;
    right: 1vw;
    background-size: 100%;
    background-color: transparent;
    background-image: url("img/header/BOTON-FLECHA-SECCION-4_Mesa\ de\ trabajo\ 1\ copia\ 3.svg");
}

.seccion4 div {
    width: 97%;
    margin: 80px 0px;
    -webkit-box-shadow: 0px 0px 29px 10px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 0px 29px 10px rgba(0,0,0,0.1);
    box-shadow: 0px 0px 29px 10px rgba(0,0,0,0.1);
}

.seccion5 {
    display: flex;
    font-size: 1.1vw;
    justify-content: center;
}

.seccion5 img {
    width: 80%;
    cursor: pointer;
}

.seccion5 div div {
    opacity: 1;   
    transition-property: opacity;
    transition-duration: 1s;
}
.seccion5 div div:hover{
    opacity: 0.6;
    transition-property: opacity;
    transition-duration: 1s;
}

.seccion5 > div {
    width: 97%;
    display: flex;
    color: #4E3881;
    padding: 40px 0px 80px 0px;
    justify-content: center;
    text-align: center;
    font-family: Raleway-Bold;
    -webkit-box-shadow: 0px 0px 29px 10px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 0px 29px 10px rgba(0,0,0,0.1);
    box-shadow: 0px 0px 29px 10px rgba(0,0,0,0.1);
}


.seccion6 {
    display: flex;
    padding: 50px 0px;
    justify-content: center;
}

.seccion6 a{
    display: flex;
    justify-content: center;
}

.seccion6 img {
    width: 95%;
    cursor: pointer;
    opacity: 1;   
    transition-property: opacity;
    transition-duration: 1s;
}

.seccion6 img:hover {
    opacity: 0.6;
    transition-property: opacity;
    transition-duration: 1s;
}

body {
    background-color: white;
}


/* For small screens */

@media screen and (max-width: 1150px) {
    
    .seccion3-content button {
        font-size: 1.8vw;
    }

}

@media screen and (max-width: 700px) {

    .seccion2 {
        padding: 20px 50px;
    }

    .seccion2 div p {
        width: 19vw;
        font-size: 1.5vw;
    }

    .seccion2 div div{
        margin-bottom: 20px;
    }

    .seccion3-content button {
        font-size: 1.3vw;
    }

    .seccion3-content :nth-child(2) {
        margin-top: 10px;
    }

    .bienvenidos-img {
        width: 65%;
        margin: 10px -6%;
    }

    .seccion4 div {
        margin: 30px 0px;
    }

    .seccion5 {
        font-size: 1.7vw;
    }

    .seccion5 > div {
        padding: 20px 0px 30px 0px;
    }

    .seccion6 {
        padding: 30px 0px;
    }

}